/srccache
/Pkg-*
/Pkg
/LibCURL-*
/LibCURL
/DelimitedFiles-*
/DelimitedFiles
/Downloads-*
/Downloads
/ArgTools-*
/ArgTools
/Tar-*
/Tar
/NetworkOptions-*
/NetworkOptions
/SHA-*
/SHA
/*_jll/StdlibArtifacts.toml
/*/Manifest.toml
